.presentation {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: radial-gradient(var(--green), var(--gray-blue));


    @media screen and (min-width: 1440px) {
        font-size: 1.25rem;
    }

    .container {
        max-width: 1000px;


        p:first-child {
            color: var(--background);
            // text-shadow: 0 0 8px #fff;
            text-shadow: .5rem 0 #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
        }


        .presentation__name {
            font-size: 4em;
            text-align: center;
            // line-height: 4em;
            color: var(--white)
        }

        .presentation__office {
            font-size: 2em;
            font-weight: 200;
            text-align: right;
            color: white
        }

        .presentation__phrase {
            font-size: 1.5em;
            line-height: 1.5em;
            text-align: right;
            color: var(--gray);
        }

    }

    .arrow-button {
        position: absolute;
        bottom: 0;
        right: 0;


        background-color: unset;
        border: none;

    }
}