.mainProject {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: linear-gradient(var(--background), var(--soft-green));
    // backdrop-filter: opacity(0.25);


    * {
        color: var(--white);
        font-family: 'Jost', sans-serif;
    }

    &__header {
        display: flex;
        border-width: 0;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: var(--white);
        margin-bottom: .5rem;

        h3 {
            font-size: 2rem;
        }

        h4 {
            font-size: 1.5rem;
            font-weight: 400;
        }

    }

    &__skills {
        height: 2.5rem;
        gap: .25rem;
        display: flex;
        width: 100%;
        justify-content: flex-end;

        img {
            height: 100%;
        }
    }

    .tag-development {
        text-transform: uppercase;
        background-color: var(--green);
        padding: .25rem .5rem;
        border-radius: .25rem;
        margin: .5rem 0;
        margin-left: auto;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &--details {
            opacity: .75;
            font-weight: 300;
        }
    }

    &__div-link {
        width: fit-content;
        margin: 2rem 0 4rem; // padding: 0 5rem;
    }
}