:root {
    --background: #202020;
    --white: #ffffff;
    --green: #45C567;
    --soft-green: rgba(69, 197, 103, .5);
    --gray-blue: #38575E;
    --gray: #5F5F5F;
    --soft-white: rgb(255, 255, 255, 0.05);
    --bg-smooth: rgba(0, 0, 0, 0.75)
}

* {
    /* font-family: 'Kufam', sans-serif; */
    font-family: 'Jost', sans-serif;

    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-snap-type: block proximity;
}

body {
    background-color: var(--background);
}


section {
    min-height: 100vh;
    padding-top: 4rem;
    /* scroll-snap-align: start; */
    /* scroll-snap-stop: always; */
}

section,
header>* {
    padding-inline: .5rem !important;
}

@media screen and (min-width: 481px) {

    section,
    header>* {
        padding-inline: 2rem !important;
    }
}

@media screen and (min-width: 1024px) {

    section,
    header>* {
        padding-inline: 4rem !important;
    }

}

@media screen and (min-width: 1440px) {

    section,
    header>* {
        padding-inline: 7rem !important;
    }
}