:root {
    --background: #2e2e2e;
    --white: #ffffff;
    --green: #45C567;
    --soft-green: rgba(69, 197, 103, .5);
    --gray-blue: #38575E;
    --gray: #5F5F5F;
    --soft-white: rgb(255, 255, 255, 0.05);
    --bg-smooth: rgba(0, 0, 0, 0.75)
}

* {
    font-family: 'Kufam', sans-serif;
    /* font-family: 'Jost', sans-serif; */

    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background);
}

section,
header>* {
    padding: .5rem;
}

@media screen and (min-width: 1440px) {

    section,
    header>* {
        padding: 0 6rem;
    }
}